<li id="<%= feed_item.id %>">
  <span class="user">
    <%= link_to gravatar_for(feed_item.user), feed_item.user%>
  </span>
    <%= render partial: 'shared/micropost_content', locals: {:item => feed_item}%>
</li>